In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\itps\appdata\local\programs\python\python310\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\itps\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\itps\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\itps\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in c:\users\itps\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
import numpy as np
import pandas as pd
import requests

# iris_data_str = requests.get('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
# print(iris_data_str.text)

iris_df = pd.read_csv('iris.data', header = None)
print(iris_df)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [17]:
s1 = pd.Series(list('abcde'))
print(s1)
print(type(iris_df), type(s1))

0    a
1    b
2    c
3    d
4    e
dtype: object
<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.series.Series'>

In [28]:
s2 = pd.Series([1,1.0,'a'])
s3 = pd.Series([x for x in range(10,20)])
# print(s3)
# print(s3[3])
# print(s3[3:8:2])
# print(s3[[3,7,9]])
print(s3[s3>15])

6    16
7    17
8    18
9    19
dtype: int64

In [31]:
print(s3.ndim)
print(s3.dtype)
print(s3.shape)
s3_f = s3.astype(np.float64)
print(s3_f)

1
int64
(10,)
0    10.0
1    11.0
2    12.0
3    13.0
4    14.0
5    15.0
6    16.0
7    17.0
8    18.0
9    19.0
dtype: float64

In [32]:
s3_np = s3.to_numpy()
print(s3_np, type(s3_np))

[10 11 12 13 14 15 16 17 18 19] <class 'numpy.ndarray'>

In [34]:
print(s3*3)

0    30
1    33
2    36
3    39
4    42
5    45
6    48
7    51
8    54
9    57
dtype: int64

In [54]:
### df

s1 = pd.Series([x for x in range(10,20)])
s2 = pd.Series([x for x in range(100,120)])
s3 = pd.Series(list('abcdefghuijk'))
df1 = pd.DataFrame({'a': s1, 'b': s2, 'c': s3})
# print(df1)
# print(df1['a'])
# print(df1[['a', 'c']])
# print(df1[2]) # 이건 안됨!
# print(df1[2:5]) # 숫자의 범위를 넣어줘야함!
# print(df1[2:5]['a'])
print(df1[:5])

      a    b  c
0  10.0  100  a
1  11.0  101  b
2  12.0  102  c
3  13.0  103  d
4  14.0  104  e

In [61]:
# 상위 5개 출력 (기본값 5)
print(df1.head())
# 하위 5개 출력 (기본값 5)
# print(df1.tail())
print(df1.tail(10))

      a    b  c
0  10.0  100  a
1  11.0  101  b
2  12.0  102  c
3  13.0  103  d
4  14.0  104  e
     a    b    c
10 NaN  110    j
11 NaN  111    k
12 NaN  112  NaN
13 NaN  113  NaN
14 NaN  114  NaN
15 NaN  115  NaN
16 NaN  116  NaN
17 NaN  117  NaN
18 NaN  118  NaN
19 NaN  119  NaN

In [70]:
# 이걸로 좀 더 익숙해지기
# print(df1)

# print(df1.loc[3:10 , ['a', 'c']])

# 숫자로만 인덱스함
print(df1.iloc[3:10 , [0,2]])

      a  c
3  13.0  d
4  14.0  e
5  15.0  f
6  16.0  g
7  17.0  h
8  18.0  u
9  19.0  i